<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Film Reviews{% endblock %}</title>
  <link rel="icon" href="{% static 'css/img/film-strip.png' %}" type="image/png">
  {% block extra_css %}{% endblock %}
  {% block extra_js %}{% endblock %}
</head>
<body>
  <header>
    <div class="header-bg"></div>
  </header>

  <div class="top-nav">
    <a href="{% url 'index' %}">
      <div class="logo"></div>
    </a>
    <nav class="menu-container">
      <div class="menu-wrapper">
        <ul class="menu">
          <li><a href="{% url 'films' %}">Films</a></li>
          <li><a href="{% url 'reviews' %}">Reviews</a></li>
          <li><a href="{% url 'best_movies' %}">Best movies</a></li>
        </ul>
        <div class="auth">
          {% if user.is_authenticated %}
            <span class="welcome">Hi, {{ user.username }}</span>
            <a href="{% url 'logout' %}" class="logout">Logout</a>
          {% else %}
            <a href="{% url 'login' %}" class="login">Login</a>
            <a href="{% url 'signup' %}" class="register">Register</a>
          {% endif %}
        </div>
      </div>
    </nav>
  </div>

  <div class="quote-of-the-day">
    <h2>Quote of the Day</h2>
    <p id="daily-quote">"May the Force be with you." - Star Wars</p>
  </div>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <div class="footer-container">
      <div class="info">
        <h3>About Film Reviews</h3>
        <p>This site offers detailed reviews of the latest movies, allowing movie enthusiasts to share their insights and opinions on recent releases.</p>
      </div>
      <div class="links">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'reviews' %}">Latest Reviews</a></li>
          <li><a href="{% url 'best_movies' %}">Best movies</a></li>
        </ul>
      </div>
      <div class="contact">
        <h3>Contact Us</h3>
        <p><img src="{% static 'css/img/email.png' %}" alt="Email" class="icon" style="width: 20px; height: 20px;"> patrykwo@gmail.com</p>
        <p><img src="{% static 'css/img/phone.png' %}" alt="Phone" class="icon" style="width: 20px; height: 20px;"> +48 785 607 021</p>
      </div>
    </div>
  </footer>
</body>
</html>
