{% extends "base.html" %}
{% load static %}

{% block title %}Home - Film Reviews{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style_index.css' %}">
{% endblock %}
{% block extra_js %}
  {{ block.super }}
  <script src="{% static 'js/index.js' %}" defer></script>
{% endblock %}

{% block content %}
<div class="gallery-section">
  <div class="section-header">
    <div class="featured-films">
      <h2>Featured Films</h2>
    </div>
  </div>
  <div class="movie-gallery">
    <div class="movie-thumbnails">
      <img src="{% static 'css/img/cleaner.jpg' %}" alt="Cleaner" class="blur-effect">
      <img src="{% static 'css/img/duplicity.jpg' %}" alt="Duplicity" class="favorite">
      <img src="{% static 'css/img/zzone.jpg' %}" alt="ZZone" class="blur-effect">
      <img src="{% static 'css/img/counterstrike.jpg' %}" alt="Counterstrike" class="blur-effect">
    </div>
    <div class="movie-details" style="display: none;">
      <img class="movie-image" src="" alt="" style="max-height: 350px;">
      <div class="text-details">
        <h3 class="movie-title"></h3>
        <p class="movie-description"></p>
        <p class="movie-rating"></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
