<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film Reviews</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_reviews.css' %}">
    <link rel="icon" href="{% static 'css/img/film-strip.png' %}" type="image/png">
    <script src="{% static '../static/js/reviews.js' %}" defer></script>
</head>
<body>
    <header>
        <div class="header-bg"></div>
    </header>
    <div class="top-nav">
        <a href="{% url 'index' %}">
            <div class="logo">
            </div>
        </a>
        <nav class="menu-container">
            <div class="menu-wrapper">
                <ul class="menu">
                    <li><a href="{% url 'films' %}">Films</a></li>
                    <li><a href="{% url 'reviews' %}">Reviews</a></li>
                    <li><a href="{% url 'best_movies' %}">Best movies</a></li>
                </ul>
                <div class="auth">
                    <a href="#" class="login">Login</a>
                    <a href="#" class="register">Register</a>
                </div>
            </div>
        </nav>
  
    </div>
    <div class="quote-of-the-day">
        <h2>Quote of the Day</h2>
        <p id="daily-quote">"May the Force be with you." - Star Wars</p>
    </div>
    <main>
        <div class="reviews-section">
            <div class="list-of-reviews">
                <h2>List of reviews</h2>
            </div>
            <div class="movie-gallery">
                <div class="movie-card">
                    <img src="../static/css/img/duplicity.jpg" alt="Duplicity">
                    <div class="movie-review">
                        <h2><a href="#">Duplicity</a></h2>
                        <h3>User: PatrykW Date: 08.04.2025</h3>
                        <p>A suspense-filled thriller, 'Cleaner' follows the life
                            of Tom Cutler, a former police officer who now runs
                            a crime scene cleanup business. Caught in a web of deceit
                            after cleaning up an undiscovered crime scene, Tom must
                            navigate corruption and cover-ups to protect his family
                            and clear his name.</p>
                    </div>
                </div>
                <div class="movie-card">
                    <img src="../static/css/img/cleaner.jpg" alt="Cleaner">
                    <div class="movie-review">
                        <h2><a href="#">Cleaner</a></h2>
                        <h3>User: PatrykW Date: 08.04.2025</h3>
                        <p>Romantic spy thriller revolving around two ex-agents turned
                            corporate spies, embroiled in high-stakes espionage while
                            untangling their complicated feelings for each other.</p>
                    </div>
                </div>
                <div class="movie-card">
                    <img src="../static/css/img/counterstrike.jpg" alt="Counterstrike">
                    <div class="movie-review">
                        <h2><a href="#">Counterstrike</a></h2>
                        <h3>User: PatrykW Date: 08.04.2025</h3>
                        <p>Set in a dystopian future, 'ZZone' explores the aftermath
                            of a global pandemic, with survivors fending off zombie-like
                            creatures and human adversaries within a fortified zone.</p>
                    </div>
                </div>
                <div class="movie-card">
                    <img src="../static/css/img/white_lotus.jpg" alt="White Lotus">
                    <div class="movie-review">
                        <h2><a href="#">White Lotus</a></h2>
                        <h3>User: PatrykW Date: 08.04.2025</h3>
                        <p>An action-packed military thriller about an elite counter-terrorism
                            "squad's mission across continents to thwart a terrorist plot
                            "against major world cities.</p>
                    </div>
                </div>
                <div class="movie-add-new" id="openAddReviewModal">
                    <div class="film-card add-new">
                        <div class="add-placeholder">
                            <span>ADD NEW REVIEW</span>
                        </div>
                    </div>
                </div>

                <div id="addReviewModal" class="modal" style="display:none;">
                <div class="modal-content">
                    <span class="close" aria-label="Close">&times;</span>
                    {% include "home/partials/_review_form.html" with movies=movies%}
                </div>
                </div>

                {% if messages %}
                <div class="flash">
                    {% for m in messages %}<p>{{ m }}</p>{% endfor %}
                </div>
                {% endif %}
                </div>
            </div>
        </div>
    </main>
    
    <footer>
        <div class="footer-container">
            <div class="info">
                <h3>About Film Reviews</h3>
                <p>This site offers detailed reviews of the latest movies, allowing movie enthusiasts to share their insights and opinions on recent releases.</p>
            </div>
            <div class="links">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="#">Latest Reviews</a></li>
                    <li><a href="{% url 'best_movies' %}">Best movies</a></li>
                </ul>
            </div>
            <div class="contact">
                <h3>Contact Us</h3>
                <p><img src="../static/css/img/email.png" alt="Email" class="icon" style="width: 20px; height: 20px;"> patrykwo@gmail.com</p>
                <p><img src="../static/css/img/phone.png" alt="Phone" class="icon" style="width: 20px; height: 20px;"> +48 785 607 021</p>
            </div>
        </div>
    </footer>
</body>
</html>
